.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 8px 200px;
  position: relative;
  width: 100%;
}

.header .logo2 {
  height: 59.06px;
  margin-left: -0.06px;
  margin-top: -0.06px;
  min-width: 68.12px;
  position: relative;
}

.header .menuItems {
  align-items: center;
  display: flex;
  gap: 48px;
  position: relative;
  width: fit-content;
}

.header .menuItem {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 17.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.header .menuItem2 {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.header .menuItem3 {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}