.envelope {
  background-image: url(https://generation-sessions.s3.amazonaws.com/37ae6cbc3736273cee0fcc91c05abd4c/img/envelope-2.svg);
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}
