.button {
  align-items: center;
  background-color: #008ca8;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 12px 32px;
  position: relative;
  width: 140px;
}

.button .request-an-estimate {
  color: #ffffff;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
