.section-hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 390px;
}

.section-hero .image-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  position: relative;
}

.section-hero .hero-image {
  align-self: stretch;
  flex: 1;
  height: 400px;
  min-width: 390px;
  object-fit: cover;
  position: relative;
}

.section-hero .slider-icons {
  align-items: center !important;
  align-self: stretch !important;
  justify-content: center !important;
  margin-top: -24px !important;
  padding: unset !important;
  width: unset !important;
}

.section-hero .slider-container-instance {
  height: 18px !important;
  min-width: 18px !important;
  width: unset !important;
}

.section-hero .design-component-instance-node {
  background-color: #8e8e8e !important;
  border-radius: 4.5px !important;
  height: 9px !important;
  left: 4px !important;
  top: 4px !important;
  width: 9px !important;
}

.section-hero .slider-icons-2 {
  border-radius: 4.5px !important;
  height: 9px !important;
  left: 4px !important;
  top: 4px !important;
  width: 9px !important;
}