:root {
  --accent: rgba(24, 81, 182, 1);
  --background-100: rgba(184, 217, 172, 1);
  --body-m-regular-font-family: "Noto Serif Georgian", Helvetica;
  --body-m-regular-font-size: 16px;
  --body-m-regular-font-style: normal;
  --body-m-regular-font-weight: 400;
  --body-m-regular-letter-spacing: 0px;
  --body-m-regular-line-height: 139.9999976158142%;
  --body-m-semibold-font-family: "Noto Serif Georgian", Helvetica;
  --body-m-semibold-font-size: 16px;
  --body-m-semibold-font-style: normal;
  --body-m-semibold-font-weight: 600;
  --body-m-semibold-letter-spacing: 0px;
  --body-m-semibold-line-height: 139.9999976158142%;
  --body-s-regular-font-family: "Noto Serif Georgian", Helvetica;
  --body-s-regular-font-size: 14px;
  --body-s-regular-font-style: normal;
  --body-s-regular-font-weight: 400;
  --body-s-regular-letter-spacing: 0px;
  --body-s-regular-line-height: 139.9999976158142%;
  --card-shadow: 0px 0px 8px 0px rgba(8, 56, 92, 0.15);
  --headline-l-font-family: "Noto Serif Georgian", Helvetica;
  --headline-l-font-size: 42px;
  --headline-l-font-style: normal;
  --headline-l-font-weight: 600;
  --headline-l-letter-spacing: 0px;
  --headline-l-line-height: 139.9999976158142%;
  --headline-s-font-family: "Noto Serif Georgian", Helvetica;
  --headline-s-font-size: 20px;
  --headline-s-font-style: normal;
  --headline-s-font-weight: 600;
  --headline-s-letter-spacing: 0px;
  --headline-s-line-height: 139.9999976158142%;
  --label-m-font-family: "Noto Serif Georgian", Helvetica;
  --label-m-font-size: 14px;
  --label-m-font-style: normal;
  --label-m-font-weight: 500;
  --label-m-letter-spacing: 0px;
  --label-m-line-height: 139.9999976158142%;
  --label-s-bold-font-family: "Noto Serif Georgian", Helvetica;
  --label-s-bold-font-size: 12px;
  --label-s-bold-font-style: normal;
  --label-s-bold-font-weight: 700;
  --label-s-bold-letter-spacing: 0px;
  --label-s-bold-line-height: 139.9999976158142%;
  --label-s-regular-font-family: "Noto Serif Georgian", Helvetica;
  --label-s-regular-font-size: 12px;
  --label-s-regular-font-style: normal;
  --label-s-regular-font-weight: 400;
  --label-s-regular-letter-spacing: 0px;
  --label-s-regular-line-height: normal;
  --primitives-accent: rgba(24, 81, 182, 1);
  --primitives-accent-duplicate: rgba(24, 81, 182, 1);
  --primitives-bg-100: rgba(184, 217, 172, 1);
  --primitives-bg-100-duplicate: rgba(184, 217, 172, 1);
  --primitives-bg-200: rgba(120, 208, 128, 1);
  --primitives-bg-300: rgba(106, 178, 113, 1);
  --primitives-text: rgba(0, 13, 56, 1);
  --primitives-text-duplicate: rgba(0, 13, 56, 1);
  --primitives-white: rgba(255, 255, 255, 1);
  --primitives-white-duplicate: rgba(255, 255, 255, 1);
  --shadow: 0px 4px 8px 0px rgba(58, 136, 66, 0.3);
  --subtitle-font-family: "Noto Serif Georgian", Helvetica;
  --subtitle-font-size: 18px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 700;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 139.9999976158142%;
  --text: rgba(0, 13, 56, 1);
  --title-l-font-family: "Noto Serif Georgian", Helvetica;
  --title-l-font-size: 64px;
  --title-l-font-style: normal;
  --title-l-font-weight: 500;
  --title-l-letter-spacing: 0px;
  --title-l-line-height: 139.9999976158142%;
  --title-m-font-family: "Noto Serif Georgian", Helvetica;
  --title-m-font-size: 32px;
  --title-m-font-style: normal;
  --title-m-font-weight: 600;
  --title-m-letter-spacing: 0px;
  --title-m-line-height: 139.9999976158142%;
  --title-m-medium-font-family: "Noto Serif Georgian", Helvetica;
  --title-m-medium-font-size: 32px;
  --title-m-medium-font-style: normal;
  --title-m-medium-font-weight: 500;
  --title-m-medium-letter-spacing: 0px;
  --title-m-medium-line-height: 139.9999976158142%;
  --title-s-font-family: "Noto Serif Georgian", Helvetica;
  --title-s-font-size: 24px;
  --title-s-font-style: normal;
  --title-s-font-weight: 600;
  --title-s-letter-spacing: 0px;
  --title-s-line-height: 139.9999976158142%;
  --title-XS-font-family: "Noto Serif Georgian", Helvetica;
  --title-XS-font-size: 20px;
  --title-XS-font-style: normal;
  --title-XS-font-weight: 700;
  --title-XS-letter-spacing: 0px;
  --title-XS-line-height: 139.9999976158142%;
  --white: rgba(255, 255, 255, 1);
  --zinc-100: rgba(244, 244, 245, 1);
  --zinc-200: rgba(228, 228, 231, 1);
  --zinc-300: rgba(212, 212, 216, 1);
  --zinc-400: rgba(161, 161, 170, 1);
  --zinc-50: rgba(250, 250, 250, 1);
  --zinc-500: rgba(113, 113, 122, 1);
  --zinc-600: rgba(82, 82, 91, 1);
  --zinc-700: rgba(63, 63, 70, 1);
  --zinc-800: rgba(39, 39, 42, 1);
  --zinc-900: rgba(24, 24, 27, 1);
}
