.hero {
  background-image: url(https://generation-sessions.s3.amazonaws.com/37ae6cbc3736273cee0fcc91c05abd4c/img/image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 785px;
  width: 100%;
}