.bank-cards {
    width: 30%;
    padding: 0 2rem;
    border-radius: 12px;
    background-color: #ccc;
}
.cards h6 {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.bank-card {
    margin: 1rem;
    background: #aaa;
    padding: 0.5rem;
    border-radius: 8px;
}

.user-actions {
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 5px;
}
.user-actions button {
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #78D080;
}

.user-actions button:hover {
    scale: 1.02;
    font-weight: bold;
}