.statistics {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  padding: 0px 240px;
  position: relative;
  width: 1680px;
}

.statistics .title-2 {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 44.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.statistics .overlap-group-wrapper {
  height: 85px;
  min-width: 1200px;
  position: relative;
}

.statistics .overlap-group {
  height: 85px;
  position: relative;
  width: 1200px;
}

.statistics .div-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.statistics .element {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.statistics .element-2 {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 253px;
}

.statistics .span {
  font-weight: 500;
}

.statistics .text-wrapper-2 {
  font-weight: 700;
}

.statistics .div-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 85px;
  left: 237px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.statistics .element-3 {
  color: #08385c;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 253px;
}

.statistics .div-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 85px;
  left: 474px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.statistics .div-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 85px;
  left: 710px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.statistics .div-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 85px;
  left: 947px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.statistics .map {
  height: 596px;
  min-width: 1200px;
  object-fit: cover;
  position: relative;
}

.statistics .element-4 {
  color: #000000;
  font-family: "Noto Serif Georgian", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 914px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 603px;
  white-space: nowrap;
}