.test-screen {
  align-items: center;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 782px;
  min-width: 390px;
  padding: 0px 0px 200px;
  position: relative;
}

.test-screen .nav-bar {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 36px 24px;
  position: relative;
}

.test-screen .logo {
  height: 32.03px;
  margin-bottom: -12px;
  margin-left: -0.04px;
  margin-top: -12.03px;
  min-width: 36.95px;
  position: relative;
}

.test-screen .menu-instance {
  /* height: 32px !important;
  margin-bottom: -12px !important;
  margin-top: -12px !important;
  min-width: 32px !important;
  position: relative !important; */
}

.test-screen .section {
  align-items: center;
  align-self: stretch;
  background-color: #b5b1b1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 400px;
  justify-content: center;
  padding: 50px 24px;
  position: relative;
}

.test-screen .text-wrapper {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.test-screen .p {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  text-align: center;
}

.test-screen .button-instance {
  padding: 8px 24px !important;
  width: fit-content !important;
}

.test-screen .design-component-instance-node {
  font-size: 16px !important;
  line-height: normal !important;
  white-space: unset !important;
}