.envelope {
  background-image: url(https://generation-sessions.s3.amazonaws.com/4f51778ef214edae8b0ea1fd62cf36a9/img/envelope-2.svg);
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}